@font-face {
  font-family: 'TwCenMTStd';
  src: local('TwCenMTStd'), url(styles/fonts/TwCenMTStd.otf) format('opentype');
}

@font-face {
  font-family: 'TwCenMTStd-ExtraBold';
  src: local('TwCenMTStd-ExtraBold'), url(styles/fonts/TwCenMTStd-ExtraBold.otf) format('opentype');
}

@font-face {
  font-family: 'TwCenMTStd-Light';
  src: local('TwCenMTStd-Light'), url(styles/fonts/TwCenMTStd-Light.otf) format('opentype');
}
